<!DOCTYPE html>
<html
  class="brand-color-background scroll-smooth antialiased"
  lang="en"
  data-theme="light"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Coffee & Fun LLC | Brewing Joy & Community in Every Cup</title>
    <meta
      name="description"
      content="Get to know Coffee & Fun LLC where every cup is crafted with love, laughter, and a dash of mischief. Discover our story and join the community!"
    />
    <meta name="author" content="Coffee & Fun LLC" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="safe for kids" />

    <link rel="icon" href="/assets/images/favicon.png" />

    <meta
      name="title"
      content="About Coffee & Fun LLC | Brewing Joy & Community in Every Cup"
    />

    <!-- PWA Manifest -->
    <link rel="manifest" href="/assets/images/social/site.webmanifest" />

    <!-- Theme & Mobile Meta -->
    <meta name="theme-color" content="#fef5ec" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!-- Icons -->
    <link rel="apple-touch-icon" href="/assets/images/social/192.png" />
    <link
      rel="icon"
      href="/assets/images/social/192.png"
      sizes="192x192"
      type="image/png"
    />
    <!-- PWA Meta Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="About Coffee & Fun LLC | Brewing Joy & Community in Every Cup"
    />
    <meta property="og:site_name" content="Coffee & Fun" />
    <meta property="og:url" content="https://www.coffeeandfun.com/" />
    <meta
      property="og:description"
      content="Get to know Coffee & Fun LLC where every cup is crafted with love, laughter, and a dash of mischief. Discover our story and join the community!"
    />
    <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/social-icon.png" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="coffeeandfun.com" />
    <meta property="twitter:url" content="https://www.coffeeandfun.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="About Coffee & Fun LLC | Brewing Joy & Community in Every Cup"
    />
    <meta name="twitter:site" content="@bycoffeeandfun" />
    <meta
      name="twitter:description"
      content="Get to know Coffee & Fun LLC where every cup is crafted with love, laughter, and a dash of mischief. Discover our story and join the community!"
    />
    <meta
      name="twitter:image"
      content="https://www.coffeeandfun.com/assets/images/social-icon.png"
    />
    <meta name="twitter:image:alt" content=" Coffee & Fun" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "WebSite",
        "url": "https://www.coffeeandfun.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>

    {% bundledCss %}
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.getRegistrations().then((registrations) => {
          for (const registration of registrations) {
            registration.unregister().then(() => {
              console.log("🧹 Old service worker unregistered");
            });
          }

          // After clearing, register the new one
          navigator.serviceWorker
            .register("/service-worker.js")
            .then(() => console.log("✅ New service worker registered"))
            .catch((err) => console.log("Service worker error:", err));
        });
      }
    </script>

    {% include scripts.html %}
  </head>

  <body>
    {% assign showFun = true %} {% assign showMiddleBadgeWithText = true %} {%
    include header.liquid %}

    <main id="main-content" class="mx-auto max-w-7xl">
      <div class="mb-16 mt-16 sm:mb-24 sm:mt-24 sm:px-8">
        <!-- Header section -->


        <div class="bg-gray-900 px-6 py-24 sm:py-32 lg:px-8 rounded-xl mb-12 bg-gradient-to-br from-[#fcd683] via-[#f7c4ba] to-[#e25440]">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-5xl font-semibold tracking-tight text-black sm:text-7xl">What is Coffee & Fun?</h2>
            <p class="mt-8 text-lg font-medium text-pretty text-blakc sm:text-xl"> Where every cup is crafted with love, laughter, and a dash of
            mischief. Join us on a journey of joy and community, one sip at a
            time. Making the world a little brighter, one app at a time.</p>
          </div>
        </div>




        <!-- Content section -->
   
          <div class="mx-auto max-w-7xl">
         

            <div class="bg-gray-900 py-24 sm:py-32 rounded-2xl my-24">
              <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
                  <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base/7 text-white">Business was founded</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">2022</dd>
                  </div>
                  <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base/7 text-white">People on the Team</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">2 people</dd>
                  </div>
                  <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base/7 text-white">Users</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">1,000,000+</dd>
                  </div>
                </dl>
              </div>
            </div>
            



          </div>
 

        <div
          class="max-w-8xl text-pretty text-base mx-auto my-24"
          id="blog"
        >
          <h2
            class="card-title mb-4 text-pretty text-4xl font-medium tracking-tighter"
          >
            Our Team
          </h2>
          <p class="text-pretty text-lg mb-2">
            We're a small team of passionate coffee enthusiasts and software
            enginners who believe in the power of community and creativity. Our
            mission is to bring joy and a little bit of mischief to your daily
            routine through our innovative products and engaging content.
            Whether it's crafting the perfect cup of coffee or sharing our
            latest adventures, we strive to make every interaction with Coffee &
            Fun a delightful experience.
          </p>
          <div class="divider my-8"></div>

          <ul
            role="list"
            class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6"
          >
            <li>
              <img
                class="mx-auto size-24 rounded-full"
                src="/assets/images/about/rob.png"
                alt=""
              />
              <h3
                class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Robert James
              </h3>
              <p class="text-sm/6 text-gray-600">Founder / CTO</p>
            </li>

            <li>
              <img
                class="mx-auto size-24 rounded-full"
                src="/assets/images/about/coco.png"
                alt=""
              />
              <h3
                class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Coco
              </h3>
              <p class="text-sm/6 text-gray-600">Head of Search</p>
            </li>

            <li>
              <img
                class="mx-auto size-24 rounded-full"
                src="/assets/images/about/crash.png"
                alt=""
              />
              <h3
                class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Crash
              </h3>
              <p class="text-sm/6 text-gray-600">Head of Security</p>
            </li>

            <li>
              <img
                class="mx-auto size-24 rounded-full"
                src="/assets/images/about/honey.png"
                alt=""
              />
              <h3
                class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Honey
              </h3>
              <p class="text-sm/6 text-gray-600">Head of Activity</p>
            </li>

            <li>
              <img
                class="mx-auto size-24 rounded-full"
                src="/assets/images/about/juneo.png"
                alt=""
              />
              <h3
                class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Juneau
              </h3>
              <p class="text-sm/6 text-gray-600">Assistant</p>
            </li>
          </ul>
        </div>

        <div
          class="max-w-8xl text-pretty text-base mx-auto my-24"
          id="blog"
        >
          <h2
            class="card-title mb-4 text-pretty text-4xl font-medium tracking-tighter"
          >
            From the Blog
          </h2>
          <p class="text-pretty text-lg mb-2">
            Discover the latest updates from Coffee & Fun LLC products, guides &
            announcements.
          </p>
          <div class="divider my-8"></div>

          <div class="card my-8">
            <div class="my-8">
              <div
                class="not-prose grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3"
              >
                {% for post in blog.posts limit:3 %}

                <a
                  class="card card-compact bg-base-100 shadow-md transition-all duration-200 card-app hover:-translate-y-1 rounded-4xl"
                  href="{{ post.link }}"
                >
                  <figure class="px-4 pt-4">
                    <img
                      loading="lazy"
                      src="{{ post.image }}"
                      class="rounded-2xl   border-opacity-5 bg-base-300"
                      alt="{{ post.name }}"
                    />
                  </figure>
                  <div class="card-body">
                    <h2 class="card-title">{{ post.name }}</h2>
                    <p class="text-base">{{ post.description }}</p>

                    <div class="flex flex-wrap gap-2 mt-6 mb-6">
                      {% for platform in post.platform %}
                      <div
                        class="badge badge-neutral gap-2 {% if platform == 'Apple' %} badge-info {% elsif platform == 'Guide' %} badge-error {% elsif platform == 'Announcement' %} badge-accent {% elsif platform == 'Release' %} badge-secondary {% elsif platform == 'Product' %} badge-warning {% else %} badge-neutral {% endif %}"
                      >
                        {{ platform }}
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </a>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include modals.liquid %}
    {% include footer.liquid %}
  </body>
</html>
