<!DOCTYPE html>
<html class="brand-color-background scroll-smooth antialiased" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mystery Rank - Compete, Contribute, and Climb the Ranks with a Twist</title>
  <meta name="description"
    content="Join Mystery Rank to secure your spot and climb the ranks in various categories. The more you contribute, the higher you rank—but the twist is, you’ll never know what others paid. Embrace the excitement of mystery and competition!" />
  <meta name="author" content="Coffee & Fun LLC" />
  <meta name="robots" content="index, follow" />
  <meta name="rating" content="safe for kids" />

  <link rel="icon" href="/assets/images/favicon.png" />

  <meta name="title" content="Mystery Rank - Compete, Contribute, and Climb the Ranks with a Twist" />
  <link rel="manifest" href="/assets/images/social/site.webmanifest" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Mystery Rank - Compete, Contribute, and Climb the Ranks with a Twist" />
  <meta property="og:site_name" content="Coffee & Fun LLC" />
  <meta property="og:url" content="https://www.coffeeandfun.com/forever-advert/" />
  <meta property="og:description"
    content="Join Mystery Rank to secure your spot and climb the ranks in various categories. The more you contribute, the higher you rank—but the twist is, you’ll never know what others paid. Embrace the excitement of mystery and competition!" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/social-trivia.png" />

  <!-- Twitter Meta Tags -->
  <meta property="twitter:domain" content="coffeeandfun.com" />
  <meta property="twitter:url" content="https://www.coffeeandfun.com/forever-advert/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Mystery Rank - Compete, Contribute, and Climb the Ranks with a Twist" />
  <meta name="twitter:site" content="@bycoffeeandfun" />
  <meta name="twitter:description"
    content="Join Mystery Rank to secure your spot and climb the ranks in various categories. The more you contribute, the higher you rank—but the twist is, you’ll never know what others paid. Embrace the excitement of mystery and competition!" />
  <meta name="twitter:image" content="https://www.coffeeandfun.com/assets/images/social-trivia.png" />
  <meta name="twitter:image:alt" content=" Coffee & Fun" />

  <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebSite",
            "url": "https://www.coffeeandfun.com/forever-advert/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
  {% bundledCss %}

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>


  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
  </script>


  <style>
    @keyframes ticker {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    .animate-ticker {
      animation: ticker 10s linear infinite;
    }

    .animate-ticker:hover {
      animation-play-state: paused;
    }
  </style>

{% include scripts.html %}
</head>

<body style="background-color: black;">
  {% assign showDonation = false %}
  {% assign showCreditsBuyButton = true %}
  {% assign showMysteryApp = true %}
  {% assign showKeyboardModal = false %}
  {% include header.liquid %}



  <main id="main-content" class="mx-auto max-w-5xl mb-12 bg-black text-white overflow-hidden">

    <div class="flex flex-col h-screen">

      <div class="flex flex-col flex-grow overflow-auto p-8" ref="scrollContainer" @scroll="handleUserScroll"
        @mouseenter="pauseScroll" @mouseleave="startScroll">



        {% for category in credits.list %}
        <div class="my-24">
          <h2 class="text-4xl font-bold mb-4 text-center">{{ category.title }}</h2>
          <h3 class="text-xl font-semibold mb-12 text-center">{{ category.description }}</h3>

          {% assign sorted_items = category.list | sort: 'rank' %}

          <!-- If there are items in the list, use a grid layout -->
          {% if sorted_items.size > 0 %}
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 text-center text-xl mx-auto max-w-4xl ">
            {% for item in sorted_items %}
            <a href="{{ item.link }}" title="Link to {{ item.text }}" target="_blank" class="link link-hover">
              {% assign position = forloop.index0 %}
              {% if position == 0 %}
              🥇
              {% elsif position == 1 %}
              🥈
              {% elsif position == 2 %}
              🥉
              {% endif %}



              {{ position | plus: 1 }} -




              {{ item.text }}
            </a>
            {% endfor %}

            <!-- The Secure a Spot button in the grid layout -->
            <a href="https://payments.coffeeandfun.com/b/14k4ifa6gbT62mQ9Bc" target="_blank" title="Secure a Spot"
              class="btn btn-sm  btn-secondary w-fit mx-auto">
              Secure a Spot
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
              </svg>
            </a>
          </div>
          {% else %}
          <!-- If the list is empty, center the Secure a Spot button -->
          <div class="flex justify-center">
            <a href="https://payments.coffeeandfun.com/b/14k4ifa6gbT62mQ9Bc" target="_blank" title="Secure a Spot"
              class="btn btn-sm  btn-secondary w-fit mx-auto">
              Secure a Spot
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
              </svg>
            </a>
          </div>
          {% endif %}

        </div>
        {% endfor %}







      </div>
    </div>

  </main>




  <script>
    var app = Vue.createApp({
      data() {
        return {
          scrollInterval: null,
       
        }
      },
      computed: {

      },
      mounted() {

        this.startScroll(); // Ensure scrolling starts after the component is fully mounted

      },
      methods: {
  
        startScroll() {
          const container = this.$refs.scrollContainer;

          if (this.scrollInterval) {
            clearInterval(this.scrollInterval);
          }

          this.scrollInterval = setInterval(() => {
            if (container.scrollTop + container.clientHeight >= container.scrollHeight) {
              container.scrollTop = 0;
            } else {
              container.scrollTop += 1;
            }
          }, 20); // Adjust the speed by changing the interval time
        },
        pauseScroll() {
          if (this.scrollInterval) {
            clearInterval(this.scrollInterval);
          }
        },


      },
      beforeDestroy() {
        if (this.scrollInterval) {
          clearInterval(this.scrollInterval);
        }
      },
    });

    app.mount("#main-content");
  </script>

  <style>
    /* Smooth scrolling for a better user experience */
    .scroll-container {
      scroll-behavior: smooth;
    }

    /* Ensuring the text elements have a subtle hover effect */
    .link {

      transition: color 0.3s ease, transform 0.3s ease;
    }

    .link-hover:hover {


      /* Change the text color on hover */
      transform: scale(1.05);
      /* Slightly enlarge the text on hover */
    }
  </style>

  {% include modals.liquid %}


  {% include footer.liquid %}



</body>

</html>